<section class="container">
    <header class="trip">
        <h1>Environment</h1>
        <p class="lead">In this category you will find all initiatives that will help nature and the natural way of life.</p>
        <p class="lead">Join or create your own initative!</p>
    </header>
    <div class="row text-center">
        <!-- If there are initiatives in the database display each of them -->
        {{#each allEnvironment}}
        <!-- This is the name of the passed context !!! -->
        {{> init}}
        <!-- This is the name of the partial !!! -->
        {{else}}
        <!-- If there are no initiativess in the database -->
        <div class="no-trips">
            <p class="lead">No initiatives in this category.</p>
        </div>
        {{/each}}
    </div>
</section>