<section id="home-page">
    <div class="container home" style="padding-top: 80px;">
        <p class="lead" style="text-align: center;">Let's do something good for our nation and the environment that surrounds us.
            Any good deed is welcome. You could plant trees, clean some area, report crimes agains nature, etc.
            Or you could donate to people in need, revive old traditions, help people remember and respect their
            heritage and so on... It is up to you! Find people that could help you or join other's cause.</p>
    </div>
</section>