<main>
    <section class="container" id="shared-trips-page">
        <header class="trip">
            <p class="lead">Choose a category:</p>
        </header>
        <div class="row text-center">


            <a class="categories" href="/data/environment">
                <img src="../static/img/balkan.jpg" alt="balkan" style="width:100%">
                <div class="container">
                    <p class="lead"><b>Environment</b></p>
                </div>
            </a>

            <a class="categories" href="/data/society">
                <img src="../static/img/woman.jpg" alt="woman" style="width:100%">
                <div class="container">
                    <p class="lead"><b>Society</b></p>
                </div>
            </a>


            <a class="categories" href="/data/inspire">
                <img src="../static/img/bg.jpg" alt="bg" style="width:100%">
                <div class="container">
                    <p class="lead"><b>Be inspired!</b></p>
                </div>
            </a>

        </div>
    </section>
</main>