<section id="home-page">
    <div style="height: 15vh;"></div>
    <div class="container home">
        <h2>Carry out a random act of kindness</h2>
        <div class="myDiv">
            <p class="lead">"Ask not what your country can do for you,</p>
            <p class="lead">ask what you can do for your country"</p>
            <p class="lead">John F. Kennedy</p>
        </div>
    </div>
</section>